In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql.cursors
import os
import urllib

pw_raw = 'Kille1995' #mettez votre mot de passe 
pw = urllib.parse.quote_plus(pw_raw)
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

def rentals_month(engine, month, year):
    query = f"""
    SELECT * FROM rental
    WHERE EXTRACT(MONTH FROM rental_date) = {month}
    AND EXTRACT(YEAR FROM rental_date) = {year};
    """
    return pd.read_sql_query(query, con=engine)
def rental_count_month(df, month, year):
    rental_counts = df.groupby('customer_id').size().reset_index(name=f'rentals_{str(month).zfill(2)}_{year}')
    return rental_counts

In [3]:
def rentals_month(engine, month, year):
    query = f"""
    SELECT *
    FROM rental
    WHERE EXTRACT(MONTH FROM rental_date) = {month}
    AND EXTRACT(YEAR FROM rental_date) = {year};
    """
    with engine.connect() as connection:
        df = pd.read_sql(query, connection)
    
    return df

if __name__ == "__main__":
    connection_string = 'mysql+pymysql://root:Kille1995@localhost/sakila'
    engine = create_engine(connection_string)
    
    df_rentals = rentals_month(engine, 5, 2005)
    print(df_rentals.head())

   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53

In [6]:
def rental_count_month(df_rentals, month, year):

    column_name = f"rentals_{month}_{year}"
    result_df = df_rentals.groupby('customer_id').size().reset_index(name=column_name)
    
    return result_df